<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.js.dao.CoachDao">
    <select id="getAllCoach" resultType="Coach">
        select * from coach
    </select>

    <select id="getCoachByCid" resultType="Coach">
        select * from coach where coach_id = #{coach_id}
    </select>

    <select id="savaCoach">
        insert into coach values (default , #{cname}, #{sex}, #{age}, #{tel}, #{detail}, #{imgurl})
    </select>

    <select id="updateCoach">
        update coach set cname = #{cname}, sex =#{sex}, age =#{age}, tel=#{tel}, detail=#{detail}, imgurl=#{imgurl} where coach_id = #{coach_id}
    </select>

    <select id="deleteCoachByCid">
        delete from coach where coach_id = #{coach_id}
    </select>

</mapper>